/**simplify**/
@font-face {
    font-family: YanoneKaffeesatz;
    src: url('./fonts/YanoneKaffeesatz-SemiBold.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    margin: 0.0rem;
    padding: 0.5rem;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    box-shadow: -1px -1px 20px rgba(0, 0, 0, 0.507);
}

.navbar .item {
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:darkgrey;
}

.navbar .item a {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .side {
    position: absolute;
    width: 60%;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.76);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: none;
    flex-direction: column;
    top: 0.6rem;
    left: 0.6rem;
    animation-fill-mode: forwards;
    animation-name: s-opening;
    animation-duration: 500ms;
}

@keyframes s-opening {
    from {
        left: -50rem;
    }

    to {
        width: 60%;
        left: 0.6rem;
    }
}

@keyframes s-closing {
    from {
        left: 0.6rem;
        width: 60%;
    }

    to {
        left: -50rem;
    }
}

.navbar .side .top {
    width:auto;
    padding: 0.5rem;
    color: darkgray;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.navbar .side .bottop {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    color: darkgray;
}

.navbar .side .bottop ul {
    list-style: none;
    display: flex;
    text-align: center;
    padding: 0;
    justify-content: center;
    flex-direction: column;
}

.navbar .side .bottop ul li {
    margin: 0.5rem;
    text-align: center;
}

.navbar .side .bottop ul li a {
    text-align: center;
    color:darkgray;
    text-decoration: none;
}

.navbar .side .bottop ul li a:hover {
    color: rgb(127, 146, 250);
}

.center {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.center .support-img img {
    width: 100%;
    height: auto;
}

.center .support-img {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center .support-download-button {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
}

.center .support-download-button a{
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(127, 146, 250);
}

.center .support-download-button a button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 25px;
    font-family: 'YanoneKaffeesatz', monospace;
}

.center .support-download-button img {
    width: 100%;
    padding: 2rem;
    height: auto;
}

.center .support-cards-demo-view {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0.5rem;
}

.center .support-cards-demo-view img {
    width: 45%;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.76);
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0.5rem;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(174, 186, 252);
}

.footer-icons {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    justify-content: space-between;
}

.footer-icons .cprght {
    width: 100%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.footer-icons .social {
    width: auto;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-icons .social .item {
    width: auto;
    margin: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.footer-icons .social .item a {
    text-decoration: none;
    color: darkgray;
    outline: none;
}

a {
    text-decoration: none;
}